#navColor{
	background: #bc4e9c;
	color:#fff;
	text-align: right;
}

#footer{
	background: #bc4e9c;
	color:#fff;
	text-align: center;
}
#centrar{
	color:#4d0686;
	text-align: center;
}
#boton{
color:#4d0686;
text-decoration: none;
}